/* CSS Stylesheet for learnitdashboard */

/* Loading State Render */
div#loadstate {
  background-color: transparent;
  border-style: none;
  border: 0px;
  box-shadow: none;
}

/* Changing the theme manually */
.logo {
  background-color: #c40c42 !important;
}

.navbar {
  background-color: #c40c42 !important;
}

/*
.main-sidebar {
  background-color: #939498 !important;
  font-style: black;
}

.control-sidebar-bg {
  background-color: #939498 !important;
}
*/